<div class="page-wrapper" tabindex="-1" role="main">
    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">

                    {% if page.title %}
                        <h1 id="{{ page.id }}" style="margin-bottom: 0px">{{ page.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}" style="margin-bottom: 0px">{{ site.title | escape }}</h1>
                    {% endif %}
  
                    <h3 id="date"><i class="fa-solid fa-calendar-days"></i> {{ page.date | date: "%Y-%m-%d }}</h3>

                    {{ content }}
                </section>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>
