<div class="page-wrapper" tabindex="-1" role="main">
    {% if page.cover %}
    <img src="{{ page.cover }}"
         width="100%"
         height="{{ page.cover_height | default: '100%' }}"
         alt="{{ page.title | escape }}"
         style="object-fit: cover;"
    />
    {% endif %}
  
    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">

                    {% if page.title %}
                        <h1 id="{{ page.id }}" style="margin-bottom: 0px" class="post-title">{{ page.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}" style="margin-bottom: 0px" class="post-title">{{ site.title | escape }}</h1>
                    {% endif %}
  
                    <p id="date" style="color: #999;"><i class="fa-solid fa-calendar-days"></i> {{ page.date | date: "%Y-%m-%d" }}</p>
  
                    {{ content }}
                </section>
            </div>

            {%- include search.html -%}
        </div>
  
        <div class="aside">
            <div class="toc">
                <h3 class="menu-label">카탈로그</h3>
                {% include toc.html html=content %}
            </div>
            <div class="toc new">
                <h3 class="menu-label">최근글</h3>
                {% for post in site.posts %}
                <div>
                    <p class="date">
                        <time>{{ post.date | date: "%F" }}</time>
                    </p>
                    <p class="title">
                        <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                            {% for tag in post.tags %}
                            {{ tag | xml_escape }} / {{ post.title | xml_escape }}
                            {% endfor %}
                            {% for cat in post.categories %}
                            {{ cat | xml_escape }} / {{ post.title | xml_escape }}
                            {% endfor %}
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    function getTOCNodes(master) {
        var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
        var tocNodes = nodes.filter(function(elem) {
            return elem.tagName == "A";
        });
        return tocNodes;
    }
    function getHeaderNodes(master) {
        var nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0);
        var headerNodes = nodes.filter(function(elem) {
            return elem.tagName == "H1" || elem.tagName == "H2" || elem.tagName == "H3" || elem.tagName == "H4" || elem.tagName == "H5" || elem.tagName == "H6";
        });
        return headerNodes;
    }

    var title = document.getElementsByClassName("post-title")[0];
    var titleY = window.pageYOffset + title.getBoundingClientRect().top;

    var article = document.getElementsByClassName("page-inner")[0];
    var articleY = window.pageYOffset + article.getBoundingClientRect().top;

    var toc = document.getElementsByClassName("toc")[0];
    
    console.log('title : ' + title);
    console.log('titleY : ' + titleY);
    console.log('article : ' + article);
    console.log('articleY : ' + articleY);
    console.log('toc : ' + toc);

    var headerNodes = getHeaderNodes(article);
    var tocNodes = getTOCNodes(toc);

    console.log('headerNodes : ' + headerNodes);
    console.log('tocNodes : ' + tocNodes);

    var before = undefined;

    document.getElementsByClassName("page-wrapper")[0].addEventListener('scroll', function(e) {
        if (window.scrollY >= articleY-60) {
            toc.style.cssText = "position: fixed; top: 60px;";
        }
        else {
            toc.style.cssText = "";
        }

        var current = headerNodes.filter(function(header) {
            var headerY = window.pageYOffset + header.getBoundingClientRect().top;
            return window.scrollY >= headerY - 60;
        });

        if (current.length > 0) {
            current = current[current.length-1];

            var currentA = tocNodes.filter(function(tocNode) {
                return tocNode.innerHTML == current.innerHTML;
            })

            currentA = currentA[0];
            if (currentA) {
                if (before == undefined) before = currentA;

                if (before != currentA) {
                    before.classList.remove("toc-active");
                    before = currentA;
                }

                currentA.classList.add("toc-active");
            }
            else {
                if (before)
                    before.classList.remove("toc-active");
            }
        }
        else {
            if (before)
                before.classList.remove("toc-active");
        }

    }, false);
</script>