<div class="book-summary">
    <nav role="navigation">
        <div id="book-search-input" role="search">
            <input type="text" placeholder="Type to search" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/search.html">Click to Search</a>
        </div>
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/">
                    Home
                </a>
            </li>

            {% assign sorted_cats = site.categories | sort %}

            {% for category in sorted_cats %}
                <li class="divider"></li>
                {% assign _posts = category.last %}
                {% assign _post = _posts.last %}
                {% assign _url = _post.url %}

                {% assign category_name = category | first %}
                {% assign page_name = page.category | escape %}
  
                {% if page_name != '' %}
                    {% if page_name == category_name %}
                <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
                    {% else %}
                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                    {% endif %}
                    <a href="../../{{category_name}}">
                {% else %}
                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                    <a href="{{site.baseurl}}{{category_name}}">
                {% endif %}
                        {% if category_name == "01 jest" %}
                            <i class="fa fa-solid fa-flask-vial"></i>
                        {% elsif category_name == "02 nx" %}
                            <i class="fa fa-solid fa-sitemap"></i>
                        {% elsif category_name == "03 storybook" %}
                            <i class="fa-solid fa-flask-vial"></i>
                        {% elsif category_name == "04 react" %}
                            <i class="fa-brands fa-react"></i>
                        {% elsif category_name == "05 javascript" %}
                            <i class="fa-brands fa-js"></i>
                        {% elsif category_name == "06.01 AAS 교육과정" %}
                            <i class="fa-solid fa-industry"></i>
                        {% elsif category_name == "06.02 표준화 조사" %}
                            <i class="fa-solid fa-industry"></i>
                        {% elsif category_name == "06.03 Aasx PackEx 튜토리얼" %}
                            <i class="fa-solid fa-industry"></i>
                        {% elsif category_name == "07 electron" %}
                            <i class="fa-solid fa-atom"></i>
                        {% elsif category_name == "08 react native" %}
                            <i class="fa-brands fa-react"></i>
                        {% elsif category_name == "09 webpack" %}
                            <i class="fa-solid fa-building"></i>
                        {% elsif category_name == "10 azure" %}
                            <i class="fa-brands fa-microsoft"></i>
                        {% elsif category_name == "11 search" %}
                            <i class="fa-solid fa-magnifying-glass"></i>
                        {% elsif category_name == "12 linux" %}
                            <i class="fa-brands fa-linux"></i>
                        {% elsif category_name == "13 css" %}
                            <i class="fa-brands fa-css3-alt"></i>
                        {% elsif category_name == "14 git" %}
                            <i class="fa-brands fa-git-alt"></i>
                        {% elsif category_name == "15.01 ai" %}
                            <i class="fa-solid fa-brain"></i>
                        {% elsif category_name == "15.02 ai training" %}
                            <i class="fa-solid fa-brain"></i>
                        {% elsif category_name == "99 other" %}
                            <i class="fa-solid fa-feather-pointed"></i>
                        {% else %}
                            <i class="fa-solid fa-wand-sparkles"></i>
                        {% endif %}
                        {{ category | first | upcase }}
                    </a>
                </li>

                {% if category_name == page_name %}
                    {% for posts in category %}
                        {% assign reversed_posts = posts | reverse %}
                        {% for post in reversed_posts %}
                            {% if post.url %}
                                <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                                    <ul>
                                        {% if page.url == post.url %}
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %}
                                            <a class="title" href="{{site.baseurl}}{{post.url}}">
                                                {{ post.title | escape }}
                                            </a>
                                            {% if site.toc.enabled %}
                                            {% if page.url == post.url %}
                                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                            {% endif %}
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
              <a href="http://20.214.141.2/">
                react app
              </a>
            </li>
            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
              <a href="http://20.214.141.2:8080/">
                spring sever
              </a>
            </li>
            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
              <a href="http://20.214.141.2:9000/">
                portainer
              </a>
            </li>
            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
              <a href="mysql-5.mysql.database.azure.com">
                mysql
              </a>
            </li>
            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
              <a href="https://github.com/inpiniti">
                git inpiniti
              </a>
            </li>
            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
              <a href="https://github.com/01yg">
                git 01yg
              </a>
            </li>
            <li class="divider"></li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                <a href="https://programmers.co.kr/pr/155474_498">
                    © 2022 Youngkyun Jung. profile like
                </a>
            </li>
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
                <a href="#">
                    Powered by jekyll and gitbook.
                </a>
            </li>
        </ul>
    </nav>
</div>
