.book-body {
    overflow-y: scroll;
    background: #f5f5fa;
}

.book-body .book-header {
    position: fixed;
    width: 100%;
}

.book.with-summary .book-body .book-header {
    position: fixed;
    width: calc(100% - 300px);
}

.book-body .body-inner {
    /* position: absolute; */
    margin-top: 50px;
    min-height: calc(100% - 50px);
}

.book-body .body-inner .page-wrapper {
    min-height: calc(100% - 46px);
}

.book-body .body-inner .page-wrapper .page-inner {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .book-body .body-inner .navigation {
        max-width: calc(50% - 3px);
        width: calc(50% - 3px);
    }
}

.book .book-body .book-header {
    background: #f5f5fa;
}

.book.color-theme-1 .book-body .book-header {
    background: #f3eacb;
}

.book.color-theme-2 .book-body .book-header {
    background: #1c1f2b;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: rgba(125, 125, 125, 0.2); */
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(7, 17, 27, .2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.2);
    -webkit-border-radius: 6px;
}

/* Style for search page on mobile screens */

#book-search-input-link {
    padding: 6px;
    background: 0 0;
    background: inherit;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-link a {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 38px;
    padding: 7px 7px;
    color: #757575;
}

#book-search-input {
    display: block;
    background-color: #fff;
}
#book-search-input-link {
    display: none;
}

@media (max-width: 1240px) {
    #book-search-input {
        display: none;
    }
    #book-search-input-link {
        display: block;
        background-color: #fff;
    }
}

#book-search-input-inside {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-inside input {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit;
}

.sd-container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 1.5rem !important;
}

.docutils {
    --sd-gutter-x: 1rem !important;
    box-sizing: border-box;
    --sd-gutter-y: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--sd-gutter-y) * -1);
    margin-right: calc(var(--sd-gutter-x) * -0.5);
    margin-left: calc(var(--sd-gutter-x) * -0.5);
}

.docutil {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
    max-width: 100%;
    padding-right: calc(var(--sd-gutter-x) * 0.5);
    padding-left: calc(var(--sd-gutter-x) * 0.5);
    margin-top: var(--sd-gutter-y);
    display: flex !important;
    flex-direction: row !important;
}

.sd-card {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.05)!important;
    transition: box-shadow .3s;
    border-color: var(--border-color);
    box-sizing: border-box;
    background-clip: border-box;
    background-color: var(--sd-color-card-background);
    border: 1px solid var(--sd-color-card-border);
    color: var(--sd-color-card-text);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
    border-radius: 0.5rem !important;
    text-align: center !important;
    width: 100% !important;
}

.sd-card:hover {
    box-shadow: 0 .5rem 1rem rgba(95,44,44,.15)!important;
    border-color: #5493f7!important;
    transform: scale(1)!important;
}

.sd-card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.sd-width-auto {
    max-height: 7.25rem!important;
    margin: 1.25rem auto 0.625rem!important;
    box-sizing: border-box;
    animation: 1s ease-out 0s 1 normal none running sd-grow50-rot20;
    padding-bottom: 0.5rem !important;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.sd-width-auto-book {
    max-height: 22rem!important;
    margin: 0.25rem auto 0.625rem!important;
    box-sizing: border-box;
    animation: 1s ease-out 0s 1 normal none running sd-grow50-rot20;
    padding-bottom: 0.5rem !important;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.sd-card-text {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    font-size: 1.475rem;
    box-sizing: border-box;
}

.sd-stretched-link {
    color: #5493f7;
    box-sizing: border-box;
}

:root {
    --sd-color-primary: #007bff;
    --sd-color-secondary: #6c757d;
    --sd-color-success: #28a745;
    --sd-color-info: #17a2b8;
    --sd-color-warning: #f0b37e;
    --sd-color-danger: #dc3545;
    --sd-color-light: #f8f9fa;
    --sd-color-muted: #6c757d;
    --sd-color-dark: #212529;
    --sd-color-black: black;
    --sd-color-white: white;
    --sd-color-primary-highlight: #0069d9;
    --sd-color-secondary-highlight: #5c636a;
    --sd-color-success-highlight: #228e3b;
    --sd-color-info-highlight: #148a9c;
    --sd-color-warning-highlight: #cc986b;
    --sd-color-danger-highlight: #bb2d3b;
    --sd-color-light-highlight: #d3d4d5;
    --sd-color-muted-highlight: #5c636a;
    --sd-color-dark-highlight: #1c1f23;
    --sd-color-black-highlight: black;
    --sd-color-white-highlight: #d9d9d9;
    --sd-color-primary-text: #fff;
    --sd-color-secondary-text: #fff;
    --sd-color-success-text: #fff;
    --sd-color-info-text: #fff;
    --sd-color-warning-text: #212529;
    --sd-color-danger-text: #fff;
    --sd-color-light-text: #212529;
    --sd-color-muted-text: #fff;
    --sd-color-dark-text: #fff;
    --sd-color-black-text: #fff;
    --sd-color-white-text: #212529;
    --sd-color-shadow: rgba(0, 0, 0, 0.15);
    --sd-color-card-border: rgba(0, 0, 0, 0.125);
    --sd-color-card-border-hover: hsla(231, 99%, 66%, 1);
    --sd-color-card-background: transparent;
    --sd-color-card-text: inherit;
    --sd-color-card-header: transparent;
    --sd-color-card-footer: transparent;
    --sd-color-tabs-label-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-hover: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-label-inactive: hsl(0, 0%, 66%);
    --sd-color-tabs-underline-active: hsla(231, 99%, 66%, 1);
    --sd-color-tabs-underline-hover: rgba(178, 206, 245, 0.62);
    --sd-color-tabs-underline-inactive: transparent;
    --sd-color-tabs-overline: rgb(222, 222, 222);
    --sd-color-tabs-underline: rgb(222, 222, 222);
    --sd-fontsize-tabs-label: 1rem;
    --tabs-color-label-active: hsla(231, 99%, 66%, 1);
    --tabs-color-label-inactive: rgba(178, 206, 245, 0.62);
    --tabs-color-overline: rgb(207, 236, 238);
    --tabs-color-underline: rgb(207, 236, 238);
    --tabs-size-label: 1rem;
}
.youtube-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.toc {
    position: fixed;
    right: 21px;
    width: 240px;
    color: #b3b3b3;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-right: 0px;
    font-size: 1.4rem;
    display: none;
    line-height: 23px;
    box-shadow: 0 6px 3px rgb(0 0 0 / 5%), 0 0 3px rgb(0 0 0 / 10%);
    color: #4a4a4a;
    padding: 10px;
    margin: 10px;
}
@media (min-width: 110em) {
    .toc {
        width: 300px;
        display: block;
        max-height: 500px;
        background-color: #fff;
        border-radius: 17px;
        top: 50px;
    }

    .page-inner {
        width: calc(100% - 65px);
        padding: 20px 315px 40px 15px !important;
    }
}

.page-inner {
    max-width: none;
}

.toc a.toc-active {
    font-weight: bold;
    transition: all 0.125s ease-in 0s;
    font-size: 0.75rem;
    color: #9075aa;
}
.toc ul {
    list-style-type: none;
    margin-bottom: 0.1rem;
    padding-left: 0rem;
}
.toc ul li {
    padding-left: 0.5rem;
}
.toc a {
    color: #b3b3b3;
    text-decoration: none;
}
.toc a:hover {
    color: #767676;
}

img + em {
    display: block;
    text-align: center;
    font-size: .8rem;
    color: #5c636a;
}
.markdown-section code {
    background-color: #008cff;
    border-radius: 6px;
    color: #fff;
}
.markdown-section b, .markdown-section strong {
    font-weight: 700;
    color: #008cff;
}

.markdown-section pre>code {
    color: black;
}

#book-search-results {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 3px rgb(0 0 0 / 5%), 0 0 3px rgb(0 0 0 / 10%);
}

.markdown-section>:first-child{
    margin-inline-start: 0;
    padding-inline-start: 0;
    border-inline-start: 0;
}

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
    margin-inline-start: -94px;
    padding-inline-start: 33px;
    border-inline-start: 4px solid #34495e;
}

.book.font-size-2 .book-body .page-inner section {
    padding: 33px 94px;
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {

    .book.font-size-2 .book-body .page-inner section {
        padding: 0;
    }
    #book-search-results {
        border-radius: 0;
        box-shadow: none;
    }
    .book .book-body .book-header {
        background: #fff;
    }
    .book-body {
        background: #fff;
    }

    .markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5, .markdown-section h6 {
        margin-inline-start: 0px;
        padding-inline-start: 0px;
        border-inline-start: none;
    }
}

@media (min-width: 988px) and (max-width: 1131px){
    .docutil {
        width: 25%;
    }
}

@media (min-width: 1132px) and (max-width: 1380px){
    .docutil {
        width: 20%;
    }
}

@media (min-width: 1381px) and (max-width: 1569px){
    .docutil {
        width: 16.6666666666%;
    }
}

@media (min-width: 1570px) and (max-width: 2126px){
    .docutil {
        width: 14.2857142857%;
    }
}

@media (min-width: 2127px) and (max-width: 2336px){
    .docutil {
        width: 12.5%;
    }
}

@media (min-width: 2337px){
    .docutil {
        width: 11.111111111%;
    }
}