.book-body {
    overflow-y: scroll;
}

.book-body .book-header {
    position: fixed;
    width: 100%;
}

.book.with-summary .book-body .book-header {
    position: fixed;
    width: calc(100% - 300px);
}

.book-body .body-inner {
    /* position: absolute; */
    margin-top: 50px;
    min-height: calc(100% - 50px);
}

.book-body .body-inner .page-wrapper {
    min-height: calc(100% - 46px);
}

.book-body .body-inner .page-wrapper .page-inner {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .book-body .body-inner .navigation {
        max-width: calc(50% - 3px);
        width: calc(50% - 3px);
    }
}

.book .book-body .book-header {
    background: #ffffff;
}

.book.color-theme-1 .book-body .book-header {
    background: #f3eacb;
}

.book.color-theme-2 .book-body .book-header {
    background: #1c1f2b;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: rgba(125, 125, 125, 0.2); */
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(7, 17, 27, .2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.2);
    -webkit-border-radius: 6px;
}

/* Style for search page on mobile screens */

#book-search-input-link {
    padding: 6px;
    background: 0 0;
    background: inherit;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-link a {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 38px;
    padding: 7px 7px;
    color: #757575;
}

#book-search-input {
    display: block;
}
#book-search-input-link {
    display: none;
}

@media (max-width: 1240px) {
    #book-search-input {
        display: none;
    }
    #book-search-input-link {
        display: block;
    }
}

#book-search-input-inside {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-inside input {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit;
}

.sd-container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 1.5rem !important;
}

.docutils {
    --sd-gutter-x: 1rem !important;
    box-sizing: border-box;
    --sd-gutter-y: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--sd-gutter-y) * -1);
    margin-right: calc(var(--sd-gutter-x) * -0.5);
    margin-left: calc(var(--sd-gutter-x) * -0.5);
}

.docutil {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 33.3333333333%;
    max-width: 100%;
    padding-right: calc(var(--sd-gutter-x) * 0.5);
    padding-left: calc(var(--sd-gutter-x) * 0.5);
    margin-top: var(--sd-gutter-y);
    display: flex !important;
    flex-direction: row !important;
}

.sd-card {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.05)!important;
    transition: box-shadow .3s;
    border-color: var(--border-color);
    box-sizing: border-box;
    background-clip: border-box;
    background-color: var(--sd-color-card-background);
    border: 1px solid var(--sd-color-card-border);
    color: var(--sd-color-card-text);
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    word-wrap: break-word;
    border-radius: 0.5rem !important;
    text-align: center !important;
    width: 100% !important;
}

.sd-card:hover {
    box-shadow: 0 .5rem 1rem rgba(95,44,44,.15)!important;
    border-color: #5493f7!important;
    transform: scale(1)!important;
}

.sd-card-body {
    text-align: center !important;
    color: var(--sd-color-card-text);
    word-wrap: break-word;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.sd-width-auto {
    text-align: center !important;
    color: var(--sd-color-card-text);
    word-wrap: break-word;
    border: 0;
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    padding-bottom: .5rem !important;
    animation: 1s ease-out 0s 1 normal none running sd-grow50-rot20;
    box-sizing: border-box;
    max-height: 6.25rem!important;
    margin: 1.25rem auto .625rem!important;
}

.sd-card-text {
    text-align: center !important;
    word-wrap: break-word;
    color: var(--text-color)!important;
    box-sizing: border-box;
    font-size: .875rem;
    margin-top: 0;
    margin-bottom: 0;
}

.sd-stretched-link {
    text-align: center !important;
    word-wrap: break-word;
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
    color: #5493f7;
}